form{
    text-align: center;
    border: 1px solid black;
    background: white;
}

body{

    padding: 8px white;
    background-color: skyblue;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    border: 2px thin black;

}

